@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

.hero {
    background-image: url("../public/header.jpg");

    background-repeat: no-repeat;
    background-position-x: -615px;
    background-size: cover;
}

@media (min-width: 1280px) {
    .hero {
        background-position-x: -570px;
    }
}

@media (min-width: 1536px) {
    .hero {
        background-position-x: -360px;
    }
}

@media (min-width: 1920px) {
    .hero {
        background-position-x: 0;
    }
}
